<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Michael Yeh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Michael Yeh's professional website">
    <title>Michael Yeh</title>

</head>
<body>
    <header>
        <h1 id="webname">Michael Yeh</h1>
        <nav class="main-nav">
            <a href = "../index.html">About</a>
            <a href = "cv.html">Resume</a>s
            <a href = "contact.html">Contact</a>
            <a href = "fun.html">Hobbies</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact Me</h2>
        <form>
            <label for = "name">Your name:</label><br>
            <input type = "text" required><br>
            <label for = "email">Your mail:</label><br>
            <input type = "email"><br>
            <br><br>
            <label for = "comment">Your comment</label>
            <br>
            <input type = "text" style = "height: 150px; width: 300px">
            <br>
            <button>SEND</button>
        </form>
        <table>
            <tr><th>Contact Method Description</th></tr>
            <tr><td>Email: michaelyeh507@gmail.com</td></tr> 
            <tr><td>Phone: 858-205-9539</td></tr>
            <tr><td><a href = "https://www.linkedin.com/in/michael-yeh-undefined-388499309/" target = "_blank">Linkedin</a></td></tr> 
        </table>    
        <footer>Copyright: 2025 designed and coded by Michael Yeh</footer>
    </div>
</body>
</html>