<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Michael Yeh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Michael Yeh's professional website">
    <title>Michael Yeh</title>

</head>
<body style = "font-family: Arial">
    <header>
        <h1>Michael Yeh</h1>
        <nav>
            <a href = "../index.html">Home</a>
            <a href = "cv.html">CV</a>
            <a href = "contact.html">Contact me</a>
            <a href = "fun.html">For fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact Me</h2>
        <form>
            <label for = "name">Your name:</label><br>
            <input type = "text" required><br>
            <label for = "email">Your mail:</label><br>
            <input type = "email"><br>
            <br><br>
            <label for = "comment">Your comment</label>
            <br>
            <input type = "text" style = "height: 150px; width: 300px">
            <br>
            <button>SEND</button>
        </form>
        <table>
            <tr><th>Contact Method Description</th></tr>
            <tr><td>Email: michaelyeh507@gmail.com</td></tr> 
            <tr><td>Phone: 858-205-9539</td></tr>
            <tr><td><a href = "https://www.linkedin.com/in/michael-yeh-undefined-388499309/" target = "_blank">Linkedin</a></td></tr> 
        </table>    
        <footer>Copyright: 2025 designed and coded by Michael Yeh</footer>
    </div>
</body>
</html>