<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Michael Yeh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Michael Yeh's professional website">
    <script src="../static/script.js" defer></script>
    <title>Michael Yeh</title>

</head>
<body>
    <header>
        <h1 id="webname">Michael Yeh</h1>
        <nav class="main-nav">
            <a href = "../index.html">About</a>
            <a href = "cv.html">Resume</a>
            <a href = "contact.html">Contact</a>
            <a href = "fun.html">Hobbies</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table class = "table">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Bouncin Inc. Internship</td>
                <td>Being in an internship in Taiwan, I used  HTML and CSS to maintain several websites for some of Bouncin Inc.’s customers.
                    In addition, I also ran market research and phoned / advertised to Bouncin’s nationwide customers like Bank of Taiwan, First Capital Management, and Cathy Hospitality.
                </td>

            </tr>
            <tr>
                <td>Artificial Intelligence Research</td>
                <td>Created and programmed a deep learning optimization model to train and classify names of 1600 gemstone names. 
                    My model was able to classify these gemstones with 94.7% accuracy, results are published to IJHSR through a research paper
                </td>
            </tr>
            <tr>
                <td>NexStream Technical Institute</td>
                <td>Assisted the instructors with conducting warm-up quizzes and activities, answering students’ questions during their self-paced study portion and helping students debug problems during their hands-on project activities.
                    Taught basic python and optimization algorithm lectures.
                </td>
            </tr>
            <tr>
                <td>Game Design Camps</td>
                <td>Attended two coding for game design summer programs at UCLA and NYU.
                    Created 4 unity games consisting of 2D top down, and open world games. Learned character animation, unity engine, level design, and C# programming language. 
                </td>
            </tr>
        </table>

        <a href = "../static/resume.pdf" target = "_blank">Michael's resume</a>
        <footer>Copyright: 2025 designed and coded by Michael Yeh</footer>
    </div>
</body>
</html>