<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Michael Yeh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Michael Yeh's professional website">
    <script src="../static/script.js" defer></script>
    <title>Michael Yeh</title>

</head>
<body onload = "addYear()">
    <header>
        <h1 id="webname">Michael Yeh</h1>
        <nav class="main-nav">
            <a href = "../index.html">About</a>
            <a href = "cv.html">Resume</a>
            <a href = "contact.html">Contact</a>
            <a href = "fun.html">Hobbies</a>
        </nav>
    </header>
    <div class = "mainLayout">
        <div id = "item">
            <h2>Things I love to do for fun</h2>
            <!-- <button id = "showListBtn" onclick = "showList()">Click to see ... </button> -->
            <ul id = "funList">
                <li>Play sports</li>
                <li>Play video games</li>
                <li>Travel</li>
                <li>Eat unique foods</li>
            </ul>
        </div>
        <div id="item2">
            <img src="../static/fun_img.jpg" alt="Hobbies visual" class="funIMG">
        </div>
        <div id="item3">
            <iframe width="895" height="503" src="https://www.youtube.com/embed/pFRMtM_z0hg" title="FIRST CLASS on WORLD’S MOST EXPENSIVE CRUISE SHIP (Record Breaking $2 Billion Budget)!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div id="item4">
            <div class="advice-container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button class="styled-button" onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>
    <footer>Copyright: <p id = "copyYear" ></p>designed and coded by Michael Yeh</footer>

</body>
</html>