<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Michael Yeh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Michael Yeh's professional website">
    <title>Michael Yeh</title>

</head>
<body>
    <header>
        <h1 id="webname">Michael Yeh</h1>
        <nav class="main-nav">
            <a href = "../index.html">About</a>
            <a href = "cv.html">Resume</a>
            <a href = "contact.html">Contact</a>
            <a href = "fun.html">Hobbies</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Play sports</li>
            <li>Play video games</li>
            <li>Travel</li>
            <li>Eat unique foods</li>
        </ul>
        <footer>Copyright: 2025 designed and coded by Michael Yeh</footer>
    </div>
</body>
</html>