<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Michael Yeh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Michael Yeh's professional website">
    <title>Michael Yeh</title>

</head>
<body style = "font-family: Arial">
    <header>
        <h1>Michael Yeh</h1>
        <nav>
            <a href = "../index.html">Home</a>
            <a href = "cv.html">CV</a>
            <a href = "contact.html">Contact me</a>
            <a href = "fun.html">For fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Play sports</li>
            <li>Play video games</li>
            <li>Travel</li>
            <li>Eat unique foods</li>
        </ul>
        <footer>Copyright: 2025 designed and coded by Michael Yeh</footer>
    </div>
</body>
</html>