<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/templates.css">
    <script src="https://kit.fontawesome.com/YOUR-KIT-ID.js" crossorigin="anonymous"></script> 
    <title>Page Template</title>
</head>
<body>
    <div class="containers">
        <header class="header">
            <h1 id="webname">Michael Yeh</h1>
            <nav class="nav">
                <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i> 
                    <div class="nav-links">
                        <a href="../index.html">About</a>
                        <a href="../views/cv.html">Resume</a>
                        <a href="../views/contact.html">Contact</a>
                        <a href="../views/fun.html">Hobbies</a>
                    </div>
            </nav>
        </header>

        <main>
            <div class="main-section">
                <div class="mainimg">
                    <img src="../static/pfp.jpg" alt="my pfp" height="90%" width="90%">
                </div>
                <div class="maincontent">
                    <h2 id="greeting">Hi, my name is Michael Yeh</h2>
                </div>
            </div>

            <div class="bottomcontent">
                <p id="fullBio">
                    I am a freshman at Carnegie Mellon University studying Information Systems. 
                    My hobbies include sports, video games, and hanging out with friends. 
                    Some sports I play include badminton, basketball, and table tennis.
                </p>                 
            </div>
        </main>

        <footer class="footer">
            <footer>Copyright: <p id="copyYear"></p>designed and coded by Michael Yeh</footer>
        </footer>
    </div>
</body>
</html>
