<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Michael Yeh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Michael Yeh's professional website">
    <title>Michael Yeh</title>

</head>
<body style = "font-family: Arial">
    <header>
        <h1>Michael Yeh</h1>
        <nav>
            <a href = "../index.html">Home</a>
            <a href = "cv.html">CV</a>
            <a href = "contact.html">Contact me</a>
            <a href = "fun.html">For fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Bouncin Inc. Internship</td>
                <td>Being in an internship in Taiwan, I used  HTML and CSS to maintain several websites for some of Bouncin Inc.’s customers.
                    In addition, I also ran market research and phoned / advertised to Bouncin’s nationwide customers like Bank of Taiwan, First Capital Management, and Cathy Hospitality.
                </td>

            </tr>
            <tr>
                <td>Artificial Intelligence Research</td>
                <td>Created and programmed a deep learning optimization model to train and classify names of 1600 gemstone names. 
                    My model was able to classify these gemstones with 94.7% accuracy, results are published to IJHSR through a research paper
                </td>
            </tr>
        </table>

        <a href = "../static/resume.pdf" target = "_blank">Michael's resume</a>
        <footer>Copyright: 2025 designed and coded by Michael Yeh</footer>
    </div>
</body>
</html>