* {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    padding: 5px;
    margin : 5px;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}


input[type="submit"] {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}


header {
    color: whitesmoke;
}

#webname {
    background-color: #92ad70;
}

.main-nav a {
    text-decoration: none;    
    color: #92ad70;         
    margin-right: 15px;      
    
    font-weight: 500;           
    transition: color 0.3s ease;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #92ad70;
    color: whitesmoke;
    width:fit-content;
}

tr:nth-child(even){
    background-color: #f2f2f2; 
}

#copyYear {
    display: inline-block;
}

/*fun button*/

#funList {
    display: none;
}

/* Style the button */
#showListBtn {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

/* Button hover effect */
#showListBtn:hover {
    background-color: #0056b3;
}


/* Style for the Read More and Read Less buttons */
#readMoreBtn, #readLessBtn {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Button hover effect */
#readMoreBtn:hover, #readLessBtn:hover {
    background-color: #0056b3;
}

/* Style for error message below submit button */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
